.target-node {
  fill: red;
}

.update-node {
  fill: yellow;
}

.normal-node {
  fill: white;
}

g.node circle {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  stroke: black;
  stroke-width: 3px;
  border: solid 3px black;
}

.canvas-parts {
  width: 100%;
  height: 100%;
}

.canvas {
  position: absolute;
  overflow: scroll;
  border: 1px solid #000;
}

.node-text {
  font-size: 18px;
}
